<div class="alert alert-info mt-5 text-center">
    <h4 class="alert-heading">Almost there!</h4>
    <p>You're almost there to get delicious recipes without worrying about ingredients you might not have right now.</p>
    <hr>
    <p class="mb-0">Select the ingredients in the field above to get the recipes.</p>
</div>